/* header */
  .container {
    max-width: 2000px;
  }
  nav {
    min-height: 88px;
    background-color: black;
  }
  nav a{
    color: white;
  }
  .left-side {
    margin-top: 25px;
    padding-left: 88px;
  }
  .title-abstract {
    font-size: 24px;
    text-decoration: none;
    padding-right: 12px;
  }
  .line {
    border-left: 2px solid white;
    margin-top: 6px;
    height: 29px;
  } 
  .subtitle-abstract {
    font-size: 24px;
    text-decoration: none;
    padding-left: 13px;
    margin-top: 2px;
    font-weight: 300; 
  }
  .title-abstract:hover {
    color: rgba(241, 235, 235, 0.788);
    text-decoration: none;
  }
  .subtitle-abstract:hover {
    text-decoration: underline;
  }
  .title-abstract:visited, .subtitle-abstract:visited {
    color: white;
  }
  .right-side {
    margin-top: 19px;
    padding-right: 88px;
  }
  .nav-buttons {
    display: flex;
    direction: row;
    gap: 15px;
  }
  #submit-button {
    font-weight: 300;
    letter-spacing: 1px;
    background-color:#191a1b;
    color: white;
    border-radius: 7px;
    height: 50px;
    width: 230px;
    font-size: 24px;
    text-align: center;
    border: 1px solid white;
  }
  #sign-button {
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #4c5fd5;
    color: white;
    border-radius: 7px;
    height: 50px;
    width: 140px;
    font-size: 24px;
    text-align: center;
    border: none;
    transition: all;
    transition-duration: 0.2s;
  }
  #sign-button:hover {
    background-color: white;
    color: black;
  }
  .nav-icons {
    display: none;
  }
  .nav-icons i {
    font-size: 25px;
    color: white;
  }
  .nav-icons button {
    background-color: transparent;
    border: none;
  }
  /* hidden search-button */
  .nav-search-input {
    display: none;
    min-height: 94px;
    background-color: white;
    margin: 0 10px;
  }
  .nav-input {
    height: 55px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 4px;
    max-width: 1220px;
  }
  .nav-search-input button {
    margin-top: 20px;
    background-color: transparent;
    border: none;
    font-size: 25px;
  }
  /* hidden menu-button: hamburger menu */
  .topnav {
    overflow: hidden;
    background-color: #191a1b;
    border-top: #8b8b8c solid 1px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .topnav #links {
    display: none;
  }
  .topnav a {
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(237, 233, 233) !important;
    font-size: 25px !important;
    font-weight: 300;
    padding: 20px 16px;
    font-size: 17px;
    margin-bottom: -5px;
  }
  .bottom-line {
    margin-top: 40px;
    border-bottom: #8b8b8c 1px solid;
    width: 450px;
    margin: 0 20px;
  }
  .topnav a:hover {
    text-decoration: none;
    color: rgb(159, 156, 156) !important;
  }

  @media (max-width: 1199px) {
    .nav-buttons {
        display: none;
    }
    .nav-icons{
      display: block;
      color: white;
      display: flex;
      flex-direction: row;
      gap: 10px;
      margin-top: 10px;
    }    
  }
  @media (max-width: 768px) {
    .left-side {
      padding-left: 11px;
    }
    .right-side {
      padding-right: 1px;
    }
  }
  @media (max-width: 479px) {
    .title-abstract {
      padding-right: 6px;
      transition-duration: 0.2s;
    }
    .subtitle-abstract {
      padding-left: 6px;
      transition-duration: 0.2s;
    }
  }
  @media (max-width: 359px) {
    .responsive-icons {
      display: flex;
      flex-direction: column;
    }
    .left-side {
      margin-top: 5px;
    }
    .right-side {
      margin-top: -10px;
      margin-bottom: 5px;
    }
    .nav-icons{
      margin-left: 12px;
    }
  }

/* Search section  */
  .search-section { 
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 87px;
    padding-bottom: 114px;
    background-color: #DADBF1;
    color: black;
  }
  .search-text {
    font-family: 'GT America Standard', sans-serif;
    text-align: center;
    font-size: 76px;
    letter-spacing: -2px;
    margin-bottom: 15px;
  }
  .search-input {
    border: 1px solid black;
    border-radius: 4px;
    max-width: 720px;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
  }
  .form-control::placeholder {
    font-size: 20px;
    color: #999999;
    font-weight: 300;
    padding-left: 2px;
  }
  .search-box {
    line-height: 65px;
    color: black;
    border-radius: 4px;
    background-color: white;
    border: none;
  }
  .search-box button:hover {
   background-color: transparent;
  }
  .input-group input,
  .input-group button {
    border: none;
    outline: none; 
    box-shadow: none; 
    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
  }
  .icon svg {
    color: #000000;
  } 
  .search-input:hover  {
    border: 1px solid #4C5FD5;
  }
  .search-input:hover svg 
  {
    fill: #4C5FD5;
  } 
  .bold-svg-icon {
    width: 32px; 
    height: 32px; 
    stroke-width: 2; 
  }
  .icon:active {
    background-color: transparent !important;
  }  

  @media (max-width: 768px) {
    .search-text {
      font-size: 60px;
      margin-top: -21px;
      margin-bottom: 35px;
    }
    .search-section { 
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media (max-width: 500px) {
    .search-text {
      font-size: 36px;
      margin-top: -12px;
      margin-bottom: 42px;
    }
  }
  @media (max-width: 120px) {
    .search-input button {
      display: none; 
    }
    .search-input {
      border-right:  2px solid black
    }
  }

/* Content section */
  .main {
    width: 80%;
    margin: auto 140px;
    margin-top: 175px;
  }
  .row {
    margin-bottom: 98px;
  }
  .image img {
    width: 88px;
    margin-right: 33px;
  }
  .topic-content {
    margin-right: 33px;
    letter-spacing: 1px;
  }
  .topic-title {
    font-size: 23px;
    font-weight: 700;
  }
  .topic-text {
    font-size: 23px;
    font-weight: 300;
    margin: 15px 0;
    line-height: 32px;
    padding-bottom: 5px;
  }
  .topic-content a {
    color: #4c5fd5;
    font-size: 19px;
    font-weight: 300;
    text-decoration: none;
  }
  a:visited {
    color: #4c5fd5; 
  }
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .ending {
    margin-bottom: 130px;
  }

  @media (max-width: 1000px) {
    .main {
      margin: auto 90px;
      margin-top: 175px;
    }
  }
  @media (max-width: 768px) {
    .row {
      display: flex;
      flex-direction: column;
    }
    .image img {
      width: 76px;
    }
    .main {
      margin: auto 70px;
      margin-top: 175px;
    }
    .col-6 {
      width: 100%;
    }
    .additional-space {
      margin-top: 100px;
    }
  }
  @media (max-width: 767px) {
    .main {
      margin: auto 60px;
      margin-top: 110px;
    }
  }
  @media (max-width: 359px) {
    .main {
      margin: auto 10px;
      margin-top: 100px;
    }
  }

/* footer */
  footer {
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 88px;
    height: 402px;
  }
  .footer-links {
    margin-top: 50px;
    margin-left: -3px;
  }
  footer h3 {
    font-size: 23px;
    letter-spacing: 1px;
    padding-bottom: 8px;
    font-weight: 600;
  }
  footer .footer-links li,
  footer .footer-links a {
    color: white;
    text-decoration: none;
    list-style: none;
    line-height: 24px;
    font-weight: 300;
  }
  footer .footer-links a:hover {
      text-decoration: underline;
  }
  footer .footer-links ul {
    padding-left: 0px;
  }
  .col-lg-3 {
    margin-left: -8px;
  }
  footer p {
    margin: 0;
    margin-top: 30px;
  }
  footer p span {
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
  }
  .copyright img {
    width: 43px;
    margin-bottom: -18px;
  }
  footer .copyright {
    padding-top: 198px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 200;
    letter-spacing: 1px;
    padding-left: 213px;
  }

  @media (max-width: 1274px) {
    footer .copyright {
      padding-left: 60px;
    }
  }
  @media (max-width: 991px) {
    footer {
      height: 670px;
    }
    .footer-links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap:30px;
    }
    .col-lg-3 {
      margin-left: -30px;
    }
    .space {
      padding-right: 275px;
    }
    .col-lg-5 {
      margin-top: 265px;
      margin-left: -290px;
    }
  }
  @media (max-width: 768px) {
    footer {
      min-height: 540px;
    }
    .space {
      padding-right: 60px;
    }
    .col-lg-3 {
      margin-left: -60px;
    }
    .col-lg-5 {
      margin-top: 190px;
      margin-left: 25px;
    }
  }
  @media (max-width: 620px) {
    footer {
      min-height: 530px;
    }
    .col-lg-5 {
      margin-top: 270px;
      margin-left: -680px;
    }
    .col-lg-3 {
      margin-left: -90px;
    }
    .space {
      padding-right: 210px;
    }
  }
  @media (max-width: 473px) {
    .space {
      padding-right: 90px;
    }
    .col-lg-5 {
      margin-top: 270px;
      margin-left: -440px;
    }
  }
  @media (max-width: 438px) {
    footer {
      min-height: 1100px;
    }
    .footer-links {
      grid-template-columns: repeat(1, 1fr);
    }
    .col-lg-3 {
      margin-left: -70px;
    }
    .col-lg-5 {
      margin-top: 640px;
      margin-left: -270px;
    }
    footer .copyright {
      padding-top: 250px;
      font-size: 17px;
    }
  }

/* help button */
  .helpButton {
      background-color: #4C5FD5;
      border: none;
      border-radius: 30px;
      width: 107px;
      position: fixed;
      bottom: 15px;
      right: 20px;
      padding: 10px 0;
  }
  .helpButton:hover {
      background-color: #4C5FD5; 
  }
  .helpButton:focus {
      border: 3px solid #aab2e1;
  }
  svg {
      margin-bottom: 3px;
      margin-right: 8px;
  }
  .bold-svg-help {
    width: 20px; 
    height: 20px;
  }




















