/* header */
  .container {
  max-width: 2000px;
  }
  nav {
    min-height: 87px;
    background-color: black;
    align-items: center;
  }
  .topbar__inner {
    width: 100%;
  }

  .left-side {
    margin-top: 20px;
  }
  .img1 {
    width: 37px;
    height: 31px;
    margin-left: 70px;
  }
  .img {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.5;
    transition: all;
    transition-duration: 0.2s;
  }
  .line {
    border-left: 2px solid white;
    margin-top: 2px;
  } 
  .text {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-decoration: none;
  }
  .text:visited {
    color: white;
  }
  .text:hover {
    text-decoration: underline;
  }
  .img:hover {
    color: rgba(241, 235, 235, 0.788);
    text-decoration: none;
  }
  .img:visited {
    color: white;
  } 
  .nav-icons{
    display: none;
  }
  .nav-buttons{
    display: flex;
    direction: row;
    gap: 8px;
    margin-right: 20%;
  }
  #button {
    font-weight: 300;
    background-color:#191a1b;
    color: white;
    border-radius: 7px;
    border: 1px solid white;
    width: 280px;
    font-size: 24px;
    height: 50px;
    text-align: center;
  }
  #button1 {
    font-weight: 300;
    background-color: #4c5fd5;
    color: white;
    border-radius: 7px;
    width: 180px;
    font-size: 24px;
    height: 50px;
    text-align: center;
    border: none;
    transition: all;
    transition-duration: 0.2s;
  }
  #button1:hover {
    background-color: white;
    color: black;
  }
  @media (max-width: 1200px) {
    .nav-buttons {
        display: none;
    }
    .nav-icons{
      display: block;
      color: white;
      font-weight: 700;
      font-size: 30px;
      display: flex;
      flex-direction: row;
      margin-right: 70px;
      gap: 10px
    }
  }
  @media (max-width: 764px) {
    .img1 {
      width: 37px;
      height: 31px;
      margin-left: 12px;
    }
    .nav-icons{
      margin-right: 15px;
    }
  }
  @media (max-width: 382px) {
    .frame {
      display: flex;
      flex-direction: column;
    }
    .left-side {
      margin-top: 10px;
    }
    .nav-icons{
      margin-left: 12px;
      margin-bottom: 7px;
    }
  }
  /* Search section  */
  .searchSection { 
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 80px;
    padding-bottom: 115px;
    background-color: #DADBF1;
    color: black;
    overflow: hidden;
  }
  .searchText {
    font-family: 'GT America Standard', sans-serif;
    font-size: 80px;
    letter-spacing: -4px;
    font-weight: 350;
    margin: 0 0 1rem;
    text-align: center;
  }
  .searchInput {
    line-height: 65px;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    max-width: 720px;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
    margin: 0 20px;
  }
  .form-control::placeholder {
    font-size: 20px;
    color: #999999;
    font-weight: 300;
    padding-left: 5px;
  }
  .searchBox {
    line-height: 65px;
    color: black;
    border-radius: 4px;
    background-color: white;
    border: none
  }
  .searchBox button:hover {
   background-color: transparent
  }
  .searchInput:hover  {
    border: 1px solid #4C5FD5;
  }
  .searchInput:hover svg 
  {
    fill: #4C5FD5;
  } 
  .input-group .form-control,
  .input-group .btn {
    border: none;
    outline: none; 
    box-shadow: none; 
  }
  .icon svg 
  {
  color: #000000;
  } 
  .bold-svg-icon {
    width: 32px; 
    height: 32px; 
    stroke-width: 2; 
  }
  .icon:active {
    background-color: transparent !important;
  }  
@media (max-width: 768px) {
  .searchText {
    font-size: 55px;
    margin-bottom: 40px;
  }
}
@media (max-width: 463px) {
  .searchText {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
/* Content section */
.main {
  width: 85%;
  margin: auto;
  margin-top: 11rem;
}
.row {
  width: 100%;
  margin-bottom: 100px;
}
.topic {
display: flex;
justify-content: center;
padding: 0 1rem;
}
.image img {
width: 88px;
margin-right: 30px;
}
.topic-content {
  margin-right: 40px;
}
.topic-title {
font-size: 24px;
line-height: 30px;
font-weight: 700;
}
.topic-text {
margin: 16px 0;
font-size: 25px;
line-height: 34px;
font-weight: 300;
padding-bottom: 25px;
}
.topic a {
color: #4c5fd5;
font-size: 22px;
line-height: 20px;
font-weight: 300;
letter-spacing: 1px;
text-decoration: none;
}
a:visited {
color: #4c5fd5;
}
a:hover {
cursor: pointer;
text-decoration: underline;
}
.ending {
margin-bottom: 180px;
}
@media (max-width: 1583px) {
  .ending {
    margin-bottom: 130px;
    }
}
@media (max-width: 1200px) {
  .main {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 8rem !important;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .topic.col-6 {
    width: 90%; 
  }
  .main {
    margin-top: 4rem;
    width: 100%;
  }
  .topic-content {
    margin-bottom: 100px;
  }
  .row {
  width: 100%;
  margin-bottom: 0px;
}
.ending {
  margin-bottom: 40px;
  }
}
@media (max-width: 520px) {
  .topic {
    padding: 0 0rem;
    }
}
/* footer */
footer {
   background-color: black;
   color: white;
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   padding: 0 60px;
}
.space {
  margin-top: 50px;
}
footer h3 {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
    font-weight: 600;
}
footer a{
  line-height: 25px;
  font-weight: 300;
}
footer .footer-links li,
footer .footer-links a {
    color: white;
    text-decoration: none;
    list-style: none;
}
footer .footer-links a:hover {
    text-decoration: underline;
}
footer .footer-links ul {
    padding-left: 0px;
}
p {
  margin: 0;
}
p span {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}
footer .copyright {
  padding-top: 18%;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  padding-left: 140px;
  padding-bottom: 5%;
}
.copyright img {
  width: 44px;
}
@media (max-width: 1312px) {
  footer .copyright {
    padding-top: 19%;
    padding-left: 90px;
  }
}
@media (max-width: 1166px) {
  footer .copyright {
    padding-top: 21%;
    padding-left: 70px;
  }
}
@media (max-width: 1044px) {
  footer .copyright {
    padding-top: 23%;
    padding-left: 60px;
  }
}
@media (max-width: 1030px) {
  footer .copyright {
    padding-top: 25%;
    padding-left: 60px;
  }
  .space2 {
    margin: 0;
    margin-top: 50px;
  }
}
@media (max-width: 995px) {
  .footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .space {
    padding-right: 130px;
  }
  .space2 {
    margin: 0;
    margin-top: 50px;
  }
  footer .copyright {
    padding-top: 54%;
    padding-left: 0px;
  }
}
@media (max-width: 938px) {
  footer .copyright {
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 10%;
    padding-left: 0px;
  }
  .container {
    font-display: flex;
    flex-direction: column;
  }
}
@media (max-width: 679px) {
  .space {
    padding-right: 0px;
  }
}
@media (max-width: 361px) {
  .space {
    padding-right: 0
  }
  .space2 {
    margin: 0;
    margin-top: 0
  }
}
/* help button */
.helpButton {
    background-color: #4C5FD5;
    border: none;
    border-radius: 30px;
    width: 107px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 0;
}
.helpButton:hover {
    background-color: #4C5FD5; 
}
.helpButton:focus {
    border: 3px solid #aab2e1;
}
svg {
    margin-bottom: 4px;
    margin-right: 8px;
}
.bold-svg-help {
  width: 20px; 
  height: 20px;
}




















